@import './themes.scss';

@function themed($key) {
  @return map-get($theme-map, $key);
}

@mixin changeTheme {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    [data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}

@mixin background_color($color) {
  @include changeTheme {
    background-color: themed($color) !important;
  }
}

@mixin font_color($color) {
  @include changeTheme {
    color: themed($color) !important;
  }
}
