$white: #f5f7fd;
$black: #001529;
$themes: (
  light: (
    bg-color: $white,
    font-color: #165dff,
    bg-color-start: #fefeff,
    bg-color-end: #e5f1fd,
    code-bg-color: #f5f7fa,
    code-font-color: #167fff,
    menu-bg: #e9b3b355,
    dark: (
      bg-color: $black,
      font-color: #c2c2c2,
      bg-color-start: #0e1225,
      bg-color-end: #0e1226,
      code-bg-color: #2d2d2d,
      code-font-color: #ccc,
      menu-bg: #000
    )
  )
);
