@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'title';
  src: url('../assets/font/PingFang/苹方黑体-准-简.ttf');
  font-weight: normal;
  font-style: normal;
}
